## .NET / Visual Studio
bin/
obj/
*.user
.vs/
*.suo
*.userosscache
*.sln.docstates

## WinUI / MSIX
AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
*.msix
*.msixbundle

## Rider / VS Code
.idea/
.vscode/

## OS
.DS_Store
Thumbs.db
